# See http://help.github.com/ignore-files/ for more about ignoring files.

#Backend
/AWS/*
/Backend/target/*
/Backend/src/main/resources/*

#Frontend
/Frontend/ImageUpload/dist
/Frontend/ImageUpload/tmp
/Frontend/ImageUpload/out-tsc
/Frontend/ImageUpload/bazel-out
/Frontend/ImageUpload/node_modules
/Frontend/ImageUpload/chrome-profiler-events*.json
/Frontend/ImageUpload/speed-measure-plugin*.json
/Frontend/ImageUpload/.idea
/Frontend/ImageUpload/.project
/Frontend/ImageUpload/.classpath
/Frontend/ImageUpload/.c9/
/Frontend/ImageUpload/*.launch
/Frontend/ImageUpload/.settings/
/Frontend/ImageUpload/*.sublime-workspace
/Frontend/ImageUpload/.vscode/*
/Frontend/ImageUpload/!.vscode/settings.json
/Frontend/ImageUpload/!.vscode/tasks.json
/Frontend/ImageUpload/!.vscode/launch.json
/Frontend/ImageUpload/!.vscode/extensions.json
/Frontend/ImageUpload/.history/*
/Frontend/ImageUpload/.sass-cache
/Frontend/ImageUpload/connect.lock
/Frontend/ImageUpload/coverage
/Frontend/ImageUpload/libpeerconnection.log
/Frontend/ImageUpload/npm-debug.log
/Frontend/ImageUpload/yarn-error.log
/Frontend/ImageUpload/testem.log
/Frontend/ImageUpload/typings
/Frontend/ImageUpload/.DS_Store
/Frontend/ImageUpload/Thumbs.db